body {
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Consolas', 'Lucida Console', 'Courier New', monospace;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url(images/BG-001.jpg);
}

header, footer {
    background: #bcd0cd;
    color: rgb(22, 50, 37);
    text-align: center;
    padding: 15px;
}

#gallery-DEs{
    width: 450px;
}

#rounded-img{
    border-radius: 5%;
}

#highlight-first-letter::first-letter {
    color: rgb(150, 0, 0);
    font-size: 130%;
    font-weight: bold;
}

#highlight-first-line::first-line {
    color: rgb(0, 24, 14);
    font-size: 120%;
    font-weight: bold;
}

a:hover{
    color: rgb(0, 60, 81);
    font-weight: bold;
    text-decoration: underline;
}
a:active{
    color: rgb(121, 0, 97);
    font-weight: bold;
}
a:link{
    font-style: italic;
    text-decoration: none;
}
a:visited{
    color: rgb(92, 0, 40);
}

main {
    padding: 1%;
    min-height: 400px;
}

nav a {
    color: rgb(35, 57, 58);
    margin: 0 10px;             /* відступи між посиланнями */
    text-decoration: none;      /* видалення підкреслення   */
}

nav a:hover {
    text-decoration: underline;
}
nav a:visited{
    color: inherit; /* збереження кольору */
}

h1, h2, h3 {
    color: #333;
    letter-spacing: 1px;
}

p {
    text-indent: 30px;
    word-spacing: 3px;
}

.highlight {
    color: rgb(0, 73, 42);
    font-weight: bold;
}


#special {
    color: rgb(0, 121, 65);
    text-transform: uppercase;
}

#bad {
    color: rgb(92, 0, 40);
}
#good {
    color: green;
}
#special a:hover, #bad a:hover, #good a:hover {
    color: rgb(0, 60, 81);
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-type: square;
    padding-left: 40px;
}

ol {
    list-style-type: decimal;
    padding-left: 40px;
}

dl {
    margin-left: 20px;
}

dl dt {
    font-weight: bold;
    color: #0056b3;
}


/* lb4 */

.block{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid #333;
    background-color: #f0f0f0;
    box-sizing: border-box;
    overflow: auto
}

.block1 {
  background-color: #e8fefe;
}

.block2 {
    background-color: #fff8e1;
    border-style: dashed;
    background-image: url('images/BG-simple-geometric-vector-seamless-pattern.webp');
    background-size: cover;
    background-position: center;
    font-weight: bold;
    font-size: 20px;
}

.block3 {
    color: white;
    background-color: rgb(36, 35, 38);
    border-style: groove;
    border-width: 6px;
    height: auto;
    border-radius: 10px;

}

.block3 img{
    display: block;
    margin: 15px auto;
}

table.lb4-table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse; /*  |a||a| -> |a|a|  */
    border: 2px solid #000000;
}

.lb4-table td{
    border: 1px solid #888;
    text-align: center;
    padding: 5px;
    background-color: #fff;
}

.lb4-table td[rowspan], .lb4-table td[colspan] {
    background-color: #d6d0ea;
}

/* === clients === */

table.clients{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; 
    /* margin: 20px 40px; */
    border: 2px solid #404545;
    /* allow radius to show */
    text-align: center;
    background-color: #e6fffb;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden; /* clip inner backgrounds to rounded corners */

}

.clients th{
    padding: 8px;
    background-color: #404545;
    color: #ffffff;
    font-weight: bold;

}
.clients td{
    padding: 8px;
    border: 1px solid #404545;

}
.clients tr:nth-child(even) {
  background-color:  #fcecff;
}

.clients tr:hover {
  background-color: #fefff5;
}
table.clients a{
    color: rgb(22, 50, 37);
    text-decoration: none;
}
table.clients a:hover{
    font-weight: bold;
}

/* align text in second column to the left */
table.clients th:nth-child(2),
table.clients td:nth-child(2) {
    text-align: left;
    padding-left: 20px; /* optional, for nicer spacing */
}